.rating{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.vote-count{
    font-weight: 100!important;
    font-size: 0.8rem!important;
}

#modal-modal-title-count{
    text-wrap: nowrap;
}