.movies--container{
    justify-content: space-evenly;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-movies{
    margin-top:3%;
    width: 30%;
    height:60px;
    font-size: 1em;
}