.movie-container{
    max-width:320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top:2%;
    margin-right:2%;
    
}

.movie-list{
    display: flex;
    justify-content: space-between;
}


.movie-item {
    color:black;
    display: flex;
    align-items: flex-start;
}

.movie-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
}

.movie-title{
    width:250px;
    font-size:1.3rem;
}

.title-year{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.button-title{
    text-align: left;
    text-decoration: underline!important;
    text-transform: capitalize!important;
    font-size: 1.2rem!important;
}

.release-date{
    padding: 0px 8px;
}
